.comentarios-container {
    margin-right: auto; 
    max-width: 700px; 
    margin-top: 20px; 
    padding: 10px;
    
  }
  
  .comment-container {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    background-color: #fff;
  }
  .comment-text {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .comment-info {
    display: flex;
    align-items: center;
  }
  
  .comment-info img {
    width: 40px; 
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .comment-info span {
    font-size: 14px;
    font-weight: bold;
    color: #385898;
  }
  
  .reply-form {
    margin-top: 10px;
  }
  
  .reply-form textarea {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: vertical;
  }
  
  .reply-form button {
    margin-top: 5px;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: bold;
    background-color: #385898;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .reply-form button:hover {
    background-color: #3b5998;
  }
  
  .reply-container {
    margin-left: 50px; 
    border-left: 1px solid #ddd;
    padding-left: 20px;
  }
  
 
.nested-reply-container {
    margin-left: 30px;
    border-left: 0px; 
    padding-left: 20px;
  }