.cartContainer {
  padding: 2rem 4rem;

  min-height: 80vh;
  width: 100%;
}

.cartContainer h2 {
  font-weight: 400;
  font-size: 40px;
  text-align: center;
}

.cartContainer .titles {
  margin: 2rem 0 1rem 0;
}

.carContainer .titles h3 {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.cartItem,
.cartContainer .titles {
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  column-gap: 0.5rem;
  text-align: left;
}

.cartItem {
  border-top: 1px solid rgb(187, 187, 187);
  padding: 1rem 0;
}

.cartItem .cartProduct {
  display: flex;
}

.cartItem .cartProduct img {
  width: 100px;
  height: 100%;
  margin-right: 1rem;
}

.cartItem .cartProduct h3 {
  font-weight: 400;
}

.cartItem .cartProduct button {
  border: none;
  outline: none;
  margin-top: 0.7rem;
  cursor: pointer;
  background: none;
  color: gray;
}

.cartItem .cartProduct button:hover {
  color: black;
}
