body{
    font-family: 'Poppins';
}

.container {
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.subtitle{
    /* border: 1px solid black; */
    width: 60%;
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.infoCards{
    border: 1px solid #cacaca;
    display: flex;
    box-shadow: -2px 3px #a9a7a7;
}

.card{
    border: 1px solid #cacaca;
    width: 20%;
    padding: 1rem;
}

.card h5{
    margin-bottom: 2rem;
    font-weight: 700;
}




@media (max-width: 768px) {
    .infoContainer {
      width: 90%;
      max-height: none;
    }
  
    .infoContainer h4 {
        font-size: 23px;
    }

    .infoContainer p {
      text-indent: 30px;
      font-size: 15px;
    }
  }

@media (max-width: 768px) {
    .infoContainer {
      width: 90%;
      max-height: none;
    }
  
    .infoContainer h4 {
        font-size: 23px;
    }

    .infoContainer p {
      text-indent: 30px;
      font-size: 15px;
    }
  }