h1,
h2,
p {
  margin: 0;
  padding: 0;
}

.container {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-image: linear-gradient(to right, white, #f5f1f1);
  width: 100%;
}

.header {
  text-align: left;
  padding: 20px;
}

.h1 {
  font-size: 25px;
}

.container2 {
    width: 1000px;
    margin: 0 auto;
    padding: 20px;
    
}

.main {
  padding: 20px;
  font-size: 20px;
  text-align: justify;
  margin-bottom: 50px;
}

.intro {
  text-align: center;
  margin-bottom: 50px;
}

.intro h2 {
  font-size: 60px;
  margin-bottom: 10px;
}

.TermsYConditions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.TermsConditions {
  text-align: center;
  margin: 20px;
}

.TermsConditions p {
  font-size: 20px;
  color: black
}