.container {
  background-color: #000924;
  position: relative;
  width: 100%;
  font-family: 'Poppins';
}



.navigation {
  position: fixed;
  width: 300px;
  min-height: 100vh;
  background: #000924;
  border-left: 10px solid #000924;
  transition: 0.5s;
  overflow: hidden;
}

.navigation.active {
  width: 80px;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 3rem;
  padding: 0px;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  /* margin-bottom: 2rem; */
}

.navigation ul li:hover {
  background-color: white;
  
}

.navigation ul li:focus {
  background-color: red;
}

.navigation ul li:nth-child(1){
  margin-bottom: 40px;
  pointer-events: none;
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: white;
  align-items: center;
  gap: .6rem;
  font-family: 'Poppins';
}

.navigation ul li:hover a {
  color: #000924;
}

.navigation ul li:focus a{
  background-color: red;
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 70px;
  text-align: start;
  white-space: nowrap; 
}

/* curve outside */
.navigation ul li:hover a::before {
  content: '';
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px white;
  pointer-events: none;
}


.navigation ul li:hover a::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px white;
  pointer-events: none;
}

/* main */

.main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background-color: white;
  transition: 0.5s;
}

.main.active {
  width: calc(100% - 80px);
  left: 80px;
}

.topbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.toggle {
  position: relative;
  top: 0;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  cursor: pointer;
}

.search {
  position: relative;
  width: 400px;
  margin: 0 10px;
}

.search label {
  position: relative;
  width: 100%;
  color: gray;
}

.search label input {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  padding: 5px 20px;
  padding-left: 38px;
  font-size: 1rem;
  outline: none;
  border: 1px solid gray;
}

.search label .icon {
  position: absolute;
  top: 7px;
  left: 10px;
  font-size: .8em;
}

.user {
  position: relative;
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.user img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* cards */

.cardBox {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.cardBox .card {
  position: relative;
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.cardBox .card .numbers {
  position: relative;
  font-weight: 500;
  font-size: 2.5em;
  color: #000924;
}

.cardBox .card .cardName {
  color: red;
  font-size: 1.1em;
  margin-top: 5px;
}

.cardBox .card .iconBx {
  font-size: 3.5em;
  color: red;
}

.cardBox .card:hover {
  /* background-color: #000924; */
}

.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBx {
  /* color: white; */
}

/* charts */
.graphBox {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 30px;
  min-height: 200px;
}

.graphBox .box {
  position: relative;
  background-color: white;
  padding: 20px;
  width: 100%;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}

.graphBox .box span {
  color:#000924;
  text-transform: uppercase;
}

/* details */
.details {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 30px;
  /* margin-top: 10px; */
}

.details .recentOrders {
  position: relative;
  display: grid;
  min-height: 500px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.cardHeader h2 {
  font-weight: 600;
  color: #000924;
}

.btn {
  position: relative;
  padding: 5px 10px;
  background-color: #000924;
  text-decoration: none;
  color: white;
  border-radius: 6px; 
}

.details table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.details table thead td {
  font-weight: 600;
}

.details .recentOrders table tr {
  color: gray;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.details .recentOrders table tr:last-child {
  border-bottom: none;
}

.details .recentOrders table tbody tr:hover {
  background-color: #000924;
  color: white;
}

.details .recentOrders table tr td {
  padding: 10px;
}

/* .details .recentOrders table tr td:last-child {
  text-align: end;
} */

.recentCustomers {
  position: relative;
  display: grid;
  min-height: 500px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}

.recentCustomers .imgBx {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.recentCustomers .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recentCustomers table tr:hover{
  background-color: #000924;
  color: white;
}

.recentCustomers table tr td {
  padding:  12px 10px;
  text-align: left;
}

.recentCustomers table tr td h4 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2em;
}

.recentCustomers table tr td h4 span {
  font-size: 14px;
  color: red;
}


/* table customers */
.customers {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;
  /* margin-top: 10px; */
}

.customers .wrapper {
  position: relative;
  display: grid;
  min-height: 500px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}

.customersHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.customersHeader h2 {
  font-weight: 600;
  color: #000924;
}

.customers table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.customers table thead td {
  font-weight: 600;
}

.customers .wrapper table tr {
  color: gray;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.customers .wrapper table tr:last-child {
  border-bottom: none;
}

.customers .wrapper table tbody tr:hover {
  background-color: #000924;
  color: white;
}

.customers .wrapper table tr td {
  padding: 10px;
}

@media (max-width: 991px) {
  .graphBox {
    grid-template-columns: 1fr;
    height: auto;
  }
}






/* CHANGES PRODUCTS*/

.productContainer{
  /* border: 1px solid #cacaca; */
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.table{
  font-family: 'Poppins';
  width: 30%;
}

.img{
  width: 90px;
  height: auto;
}


.edit{
  border: 1px solid gray;
  box-shadow: 1px 2px #e9e9e9;
  background-color: none;
  color: black;
  border-radius: 5px;
  position: relative;
  left: 0.01rem;
  transition: .2s;
  &:hover{
      transform: scale(0.97);
      transition: .3s;

  }
}

.delete{
  border: 1px solid gray;
  box-shadow: 1px 2px #e9e9e9;
  background-color: none;
  margin-left: 1rem;
  color: black;
  border-radius: 5px;
  position: relative;
  left: 0.01rem;
  transition: .2s;
  &:hover{
      transform: scale(0.97);
      background-color: red;
      color: #fff;
      transition: .3s;

  }
}

.container{
  background-color: #f0f4f7;
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.userContainer{
  /* border: 1px solid #cacaca; */
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tableUsers{
  width: 90%;
}