

Link{
    text-decoration: none;
}

.cards{
    width: 100%;
    min-height: 100vh;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 30px; /* Espacio entre las cards */
    justify-content: center; /* Centra las cards horizontalmente */
} 

h3{
    color: black;
    text-decoration: none;
}