.container {
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contactContainer {
    height: 400px;
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}

.sideColumns {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.centerColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.person {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 10px;
    transition: transform 0.5s ease;
}
.person:hover {
    transform: scale(1.05);
}

.info {
    width: 175px;
    height: 110px;
    padding-top: 5px;
    padding-left: 3px;
    padding-right: 3px;
    text-align: left;
}
.info h6 {
    text-align: right;
}

.photo {
    width: 100px;
    height: 70px;
}
.photo img {
    max-width: 100%;
    max-height: 100%;
}