.cardContainer{
    border: 1px solid #e9e9e9;
    /* box-shadow: 1px 2px #e9e9e9; */
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    padding-top: 0.5rem;
    border-radius: 10px;
    width: 20vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.divImg{
    /* border: 1px solid black; */
    width: 90%;
    min-height: 60%;
    max-height: 80%;
    background-color: #e9e9e9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link{
    /* border: 1px solid black; */
    width: 90%;
    min-height: 50%;
    max-height: 50%;
    background-color: #e9e9e9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img{
    width: 90%;
    min-height: 60%;
    max-height: 75%;
    border-radius: 10px;
    filter: drop-shadow(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    
}

.description{
    border-top: 1px solid #e9e9e9;
    position: relative;
    margin-top: 0.5rem;
    padding: 1rem;
    padding-top: 1rem;
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
}

.title{
    color: black;
}

.category{
    color: gray;
}

.priceLabel{
    color: gray;
}

.price{
    color: black;
    font-weight: 500;
}

.buttonCart{
    border: 1px solid gray;
    box-shadow: 1px 2px #e9e9e9;
    background-color: #000924;
    color: #fff;
    padding: 0.5rem;
    font-weight: 400;
    border-radius: 10px;
    position: relative;
    left: 0.01rem;
    margin-bottom: 1rem;
    transition: .2s;
    &:hover{
        transform: scale(0.97);
        transition: .3s;

    }
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}