.container {
  /* border: 2px solid black; */
  background-color: #f0f4f7;
  width: 100%;
  min-height: 100vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: flex-start;
}

.toggle {
  position: relative;
  top: 0;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  cursor: pointer;
  margin-bottom: 1rem;
}


/* TOPBAR */
.title {
  /* border: 1px solid blue; */
  display: flex;
  height: 10vh;
  width: 90%;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  margin-top: -0.5rem;
}


.content {
  /* border: 2px solid yellow; */
  display: flex;
  min-height: 80vh;
  gap: 1.5rem;
}

.sidebar {
  /* border: 2px solid #cacaca; */
  background-color: #000924;
  /* border-radius: 10px; */
  width: 100%;
  max-height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.options {
  /* border: 1px solid #cacaca; */

  padding: 0.5rem;
  /* border-radius: 10px; */
  cursor: pointer;
  font-family: "Poppins";
  color: #fff;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  &:hover {
    color: #cacaca;
    transition: 0.3s;
  }
}

/* // DIV RIGHT */
.components {
  border: 1px solid #000924;
  border-top: none;
  width: 90%;
  background-color: #03164d;
  /* background-image: url('../../assets/createProductBG.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
}

/* // DROPDOWN */
.optionContainer {
  position: relative;
  width: 100%;
}

.dropdown {
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #5794bd;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  z-index: 100;
  animation: slideBottom 0.3s ease;
}

.dropdownOption {
  cursor: pointer;
  font-family: "Poppins";
  width: 100%;
  background-color: #03164d;
  color: #fff;
  transition: 0.2s;
  padding: 0.5rem;
  &:hover {
    color: #cacaca;
    transition: 0.3s;
  }
}

/* ANIMATION */

@keyframes slideBottom {
  0% {
    transform: translateY(-5px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
