.footerContainer{
    background-color: #000924;
    padding: 1rem;
    width: 100vw;
    height: 10vh;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: space-between;

}

.divLeft{
    /* border: 1px solid white; */
    width: 30%;
    
}

.divRight{
    /* border: 1px solid white; */
    width: 40%;
    gap: 1.5rem;
    display: flex;
}

.info p{
    color: #fff;
    transition: .3s;
    &:hover{
        opacity: 0.7;
        transition: .5s;
    }
}

@media (max-width: 768px) {
    .footerContainer {
      flex-direction: column;
      height: auto;
    }
  
    .divLeft,
    .divRight {
      width: 100%;
    }
  
    .divRight {
      flex-wrap: wrap;
      justify-content: space-around;
    }
  
    .info p {
      margin: 0.5rem;
      font-size: 15px;
    }
  }