.divContainer{
    border: 1px solid black;
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divForm{
    border: 1px solid black;
    padding: 2rem;
}

.submitButton{
    border: 1px solid black;
}

img{
    width: 200px;
    height: auto;
}

.FormIn{
    border: 1px solid black;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}