.container{
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
}

.form{
    width: 70%;
    border: 1px solid #fff;
    box-shadow: 0 2px 0 #acaaaa;
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
}


.create{
    border: 1px solid #cacaca;
    width: 30%;
    padding: 0.7rem;
    border-radius: 10px;
    font-family: 'Poppins';
    background-color: #000924;
    color: #cacaca;
    transition: .2s;
    &:hover{
        transform: scale(0.97);
        color: #fff;
        transition: .3s;
    }
    
}

