.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    background-image: url('../../../assets/reunion.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000924;
}

.mainTitle{
    color: #fff;
}

.formContainer{
    border: 1px solid black;
    width: 35%;
    background-color: #000924;
    padding: 0.5rem;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.formContainer label{
    color: #fff;
}

.formContainer input{
    width: 60%;
    border: 1px solid black;
}

.formContainer textarea{
    border-radius: 10px;
    width: 60%;
    height: auto;
    resize: none;
}

.btn{
    padding: 1.1rem 1.3rem;
    margin-top: 0.4rem;
    background: #059dc7;
    border-radius: 2rem;
    /* box-shadow: 0 0 0.5rem #02ECFF; */
    font-size: 1rem;
    color: #fff;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    transition: .3s;
    /* opacity: 0; */
    /* animation: slideTop 1s ease forwards; */
    /* animation-delay: .1s; */
  }
  
  .btn:hover{
    background-color: #1eb777;
    color: #000924;
    transition: .5s ease;
  }
