.container {
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h1 {
    padding-top: 10px;
    margin-bottom: 0px;
    color: green;
    font-style: italic;
}

.infoContainer {
    display: flex;
    width: 700px;
    height: 400px;
    padding: 10px;
    padding-left: 15px;
    padding-top: 15px;
    flex-direction: column;
    overflow-y: auto;
    text-align: justify;
    box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 5px 5px;
    margin: auto;
}
.infoContainer h4 {
    color: green;
}
.infoContainer p {
    text-indent: 45px;
}

@media (max-width: 768px) {
    .infoContainer {
      width: 90%;
      max-height: none;
    }
  
    .infoContainer p {
      text-indent: 30px;
    }
  }